.NavBar {
    transition: padding .5s;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #f5eee7;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.Container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}

.Header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5rem;
    font-weight: 500;
}

.Header li svg {
    font-size: 1rem;
}

.AccountIcon svg {
    font-size: 1.2rem !important;
}

.Icon {
    display: flex;
    align-items: end;
}

.TextWithIcon {
    display: flex;
    align-items: center;
}

.TextWithIcon svg {
    margin-left: 5px;
}

.HeaderLeft ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.HeaderRight ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}
.Header ul li {
    color: #ec411f;
    transition: color .15s ease;
    cursor: pointer;
}

.Header ul li:hover {
    color: #f38de3!important;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.HeaderLogo img {
    max-width: 100px;
}

ul {
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

li {
    font-size: 14px;
}

.Header li {
    padding: 0 12px;
}

@media only screen and (max-width: 800px) {
    .Desktop {
        display: none !important;
    }

    .NavBar {
        padding: 6px 0px;
    }

    .Header ul {
        margin: 0;
    }

    .HeaderLogo img {
        max-width: 60px;
    }    

    .HeaderRight svg {
        font-size: 1.7rem !important;
    }
} 

@media only screen and (min-width: 801px) {
    .Mobile {
        display: none !important;
    }
} 

@media only screen and (min-width: 801px) and (max-width: 991px) {
    .Header {
        /* padding: 0; */
        justify-content: space-between;
    }
    .HeaderRight {
        width: 37% !important;
    }
    .HeaderLeft {
        width: 37% !important;
    }
    .Header ul li {
        padding: 0 2px;
        font-size: 10px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1399px) {
    .Header {
        /* padding: 0; */
        justify-content: space-between;
    }
    .HeaderRight {
        width: 37% !important;
    }
    .HeaderLeft {
        width: 37% !important;
    }
    .Header ul li {
        padding: 0 6px;
        font-size: 12px;
    }
}